.small-field {
	width: 160px;
}

.start-addon {
	border-bottom-right-radius: 0 !important;
	border-top-right-radius: 0 !important;
}

.end-addon {
	border-bottom-left-radius: 0 !important;
	border-top-left-radius: 0 !important;
}

.mid-addon {
	border-radius: 0 !important;
}

.markdown-editor /deep/ code {
	background-color: initial !important;
	color: initial !important;
	padding: initial !important;
	border-radius: initial !important;
	font-size: initial !important;
	font-weight: initial !important;
}